<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Socket</h1>
        <a href="" class="btn btn-primary js-send" data-method="echo">echo</a>
        <a href="" class="btn btn-primary js-send" data-method="me">me</a>
      </div>
    </div>
    <script src="javascripts/main.js"></script>
  </body>
</html>
