/**
* @section button
*/
.b-button{
  -moz-appearance: none;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #007aff;
  border-radius: 5px;
  box-sizing: border-box;
  color: #007aff;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 14px;
  height: 29px;
  line-height: 27px;
  margin: 0;
  outline: 0 none;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}