/**
* @section links
*/
.b-link{
  height: 44px;
  line-height: 44px;
  position: relative;
  text-decoration: none;
  transform: translateZ(0px);
  transition-duration: 0.3s;

  &.-type_icon{
    color:#007AFF;
    margin: 0;
    min-width: 44px;
    text-align: center;
  }

  .navbar &,
  .subnavbar &,
  .toolbar &{
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: flex-start;
    line-height: 44px;
    position: relative;
    text-decoration: none;
    transform: translateZ(0px);
    transition-duration: 0.3s;
  }
}