/**
* @section pannel
*/

$panelWidth:260px;
$panelsDuration: 400ms;

.b-panel{
  background: #111 none repeat scroll 0 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  transform: translate3d(0px, 0px, 0px);
  transition: transform $panelsDuration;
  width: $panelWidth;
  z-index: 1000;

  &.-type_left{

    &.-type_cover{
      left: -260px;
      z-index: 6000;
    }
  }
  &.-type_right{
    display: none;
    &.-type_reveal{
      right: 0;
    }
  }

  &.-layout-dark{
    background-color: #222426;
    color: #ddd;
  }
}