/**
* @section popover
*/
$popoverWidth:240px;

.b-popover{
  width: $popoverWidth;
  background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
  border-radius: 13px;
  display: none;
  right: 5px;
  margin: 0;
  opacity: 0;
  position: absolute;
  bottom: 55px;
  transform: none;
  transition-property: opacity;
  width: $popoverWidth;
  z-index: 13500;

  &.-type_modalIn{
    opacity: 1;
    transition-duration: 0.3s;
  }

  &__angle{
    height: 26px;
    right: 26px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 26px;
    z-index: 100;

    &:after{
      background: rgba(255, 255, 255, 0.95);
      border-radius: 3px;
      content: " ";
      height: 26px;
      left:20px;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      width: 26px;
    }

    &.-state__on-bottom{
      right:20px;
      top: 100%;
      &:after{
        left: 0;
        top: -19px;
      }
    }
  }

  &__inner{
    overflow: auto;
  }
}