/**
* @section views
*/

.b-views{
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 5000;
}
.b-view{
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  & a{
    text-decoration: none;
  }
}