<div class="b-viewContent <%= settings.header.visible ? "-has_header" : "" %> <%= settings.footer.visible ? "-has_footer" : "" %>">

  <% if ( settings.header.visible ) { %>
  <div class="b-viewHeader">
    <div class="b-backButton js-back">
      <span class="fa fa-angle-left fa-4x"></span>
    </div>
    <h2 class="b-viewHeader__title"><%= settings.header.title %></h2>
    <span class="b-addRoomButton js-addRoom">+</span>
    <!-- footer content -->
  </div>
  <% } %>
  
  <div class="b-viewMain">
    <!-- chat content -->
    <div class="l-chat">
      <div class="b-chat">
        <% if (data.rooms.length){ %>
          <ul class="b-chat__roomsList">
            <% _.each(data.rooms, function(room, index){ %>
              <li class="b-chat__roomHolder js-gotoroom" data-roomid="<%= room.id %>">
                <span class="b-chat__roomIcon">
                  <img src="<%= room.img %>" alt="">
                </span>
                <div class="b-chat__roomTitle"><%= room.title %></div>
                <div class="b-chat__creator">Creator: <b><%= room.creator %></b></div>
                <div class="b-chat__info">
                  <span class="b-chat__usersNum">Users online: <%= room.users %></span>
                  <span class="b-chat__messagesNum">Messages: <%= room.messages %></span>
                  <% if ( room.lastMessage ){ %>
                  <span class="b-chat__lastMessage">Last message: <%= room.lastMessage %> by <%= room.lastMessageUser %></span>
                  <% } %>
                </div>
                <i class="fa fa-angle-right fa-3x -icon_nextArrow"></i>
              </li>
            <% }); %>
          </ul>
        <% } %>
        <!-- <ul class="b-chat__roomsList">
          <li class="b-chat__roomHolder js-gotoroom" data-roomid="1">
            <span class="b-chat__roomIcon"></span>
            <div class="b-chat__roomTitle">Room title</div>
            <div class="b-chat__creator">Creator: <b>Alex</b></div>
            <div class="b-chat__info">
              <span class="b-chat__usersNum">Users: 15</span>
              <span class="b-chat__messagesNum">Messages: 125</span>
              <span class="b-chat__lastMessage">Last message: 23.05.16 19:39 by Username</span>
            </div>
            <i class="fa fa-angle-right fa-3x -icon_nextArrow"></i>
          </li>
          <li class="b-chat__roomHolder js-gotoroom" data-roomid="2">
            <span class="b-chat__roomIcon"></span>
            <div class="b-chat__roomInfo">
              <div class="b-chat__roomTitle">Room title</div>
              <div class="b-chat__creator">Creator: <b>Alex</b></div>
              <div class="b-chat__info">
                <span class="b-chat__usersNum">Users: 15</span>
                <span class="b-chat__messagesNum">Messages: 125</span>
                <span class="b-chat__lastMessage">Last message: 23.05.16 19:39 by Username</span>
              </div>
            </div>
            <i class="fa fa-angle-right fa-3x -icon_nextArrow"></i>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  
  <% if ( settings.footer.visible ) { %>
  <div class="b-viewFooter">
    
  </div>
  <% } %>

  <div class="b-addRoom js-addRoom">
    <form action="#" id="add-room">
      <input type="text" name="title" required="required">
      <input type="file" name="img" id="loadImageRoom" required="required">
      <button>Create room</button>
    </form>
  </div>
  
</div>