<div class="b-messages__item <%= messageOwner ? '-type_owner' : '' %>" data-messageid="<%= id %>">
  <div class="b-messages__userpic"><img src="img/userfiles/ava.png" alt=""></div>
  <div class="b-messages__holder">
    <div class="b-messages__holderInner">

      <% if ( message.files.length ){ %>
      <div class="b-messages__images js-imagesContainer">
        <% _.each(message.files, function(file, index){ %>
        <a href="#" data-image="<%= file.src %>"><img src="<%= file.src %>" alt=""></a>
        <% }); %>
      </div>
      <% } %>

      <% if ( message.text.length ){ %>
      <div class="b-messages__text"><%= message.text %></div>
      <% } %>
      <div class="b-messages__time">
        <%= date.hour < 10 ? '0'+date.hour : date.hour %>:<%= date.minutes < 10 ? '0'+date.minutes : date.minutes %>
      </div>
    </div>
  </div>
</div>