.b-chat {
  &__roomsList {
    @include resetList;
  }

  &__roomHolder {
    position: relative;
    padding: 15px 40px 15px 15px;
    border-bottom: 1px solid #E8E7E7;
    overflow: hidden;

    // &:last-child {border-bottom: none;}
  }

  &__roomInfo{
    overflow: hidden;
  }

  &__info {
    overflow: hidden;
    > span {
      border-left: 1px solid grey;
      font-size: 10px;
      color: grey;
      float: left;
      margin-left: 10px;
      padding-left: 10px;

      &:first-child {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  &__roomIcon {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 5px;
    background: #FAFAFA;
    border: 1px solid grey;
    float: left;
    position: relative;
    margin-right: 10px;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 3px;
      @include aligncenter;
    }
  }
}

.b-viewHolder {
  &[class*="-view_chat-room"] .b-viewMain {
    background-color: #F1F1F1;
  }
}

.b-messages {

  padding: 0 10px;

  $block: &;

  &__userpic {
    width: 32px;
    height: 32px;
    float: left;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 7px;
    background: url(../img/nophoto.jpg) center center no-repeat;
    background-size: cover;

    img {
      width: 100%;
      height: 100%;
    }

    #{$block}__item.-type_owner & {
      float: right;
    }
  }

  &__holder {
    position: relative;
    overflow: hidden;
    padding: 0 60px 5px 20px;

    #{$block}__item.-type_owner & {
      padding: 0 20px 5px 48px ;
      text-align: right;
      &:before {
        content: '';
        position: absolute;
        right: 0px;
        top: 5px;
        left: auto;
        border-left: 10px solid #3E3E3E;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index: 100;
      }
    }

    &Inner {
      display: inline-block;
      position: relative;
      background: #fff;
      box-shadow: rgba(0,0,0,0.2) 0px 0px 7px;
      padding: 3px;
      #{$block}__item.-type_owner & {
        background: #3E3E3E;
        color: #FFF;
      }
    }

    &:before {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      left: 0px;
      top: 5px;
      border-right: 10px solid #FFFFFF;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      z-index: 100;
    }


  }

  &__time {
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: 10px;

    #{$block}__item.-type_owner & {
      position: absolute;
      right: 100%;
      bottom: 0;
      left: auto;
      color: #000;
      margin-right: 10px;
    }
  }

  &__text {
    padding: 8px;
    text-align-last: auto;
    clear: both;
  }

  &__item {
    padding: 10px 0;
  }

  &__images {
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.5) 0 0 5px;
    min-width: 200px;
    #{$block}__item.-type_owner & {
      > a {
        float: right;
      }
    }
    > a {
      float:left;
      position:relative;
      overflow:hidden;
    }
  
    img {
      position: absolute;
      outline: none;
    }
  }

}

.-icon{
  &_nextArrow{
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}

.l-imageGallery {
  position: fixed;
  background: #272822;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;

  .b-galleryClose {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    color: #FFF;
    padding: 12px 14px;
    z-index: 10000;
  }

  .b-imageGallery {
    opacity: 0;
    overflow: hidden;
    height: 100%;
    &__item {
      top: 50%;
      transform: translateY(-50%);
      padding: 5px;
    }
  }

  .bx-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .bx-viewport {
      background: none;
      text-align: center;
      box-shadow: none;
      border: none;
      left: 0;
    }

    .b-imageGallery {
      opacity: 1;
      //transition: none;
    }
    img {
      margin: 0 auto;
    }
  }
}

.b-formMessage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__files {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      opacity: 0;
      z-index: 100;
    }
    span {
      margin-left: 9px;
      margin-top: 7px;
    }
  }

  &__message {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 0;

    border-left: 1px solid #7D7D7D;
    border-right: 1px solid #7D7D7D;
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 15px;
      margin: 0;
      border: 0;
      height: 50px;
      font-size: 16px;
    }
  }

  &__send {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      opacity: 0;
      z-index: 100;
    }
    span {
      margin-left: 18px;
      margin-top: -1px;
    }
  }

}


.b-backButton {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  span {
    margin-left: 10px;
  }
}

.b-addRoom {
  position: fixed;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  transition: all 1s;
  z-index: 10000;
  border: 1px solid #272822;

  &.-state_active {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.b-addRoomButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
}